@import "../../assets/sass/helpers/_mixins.scss";
@import "../../assets/sass/helpers/_variables.scss";
.section {
  background-color: $color-white;
  @include box-shadow($box-shadow-section);
  font-family: $font-family;
  font-size: $size-1-2;
  margin-bottom: 80px;
}

.wrapper {
  @include display-flex(fgrid);
}

/* =============================================
	1. PROFILE SECTION
 ============================================= */

#profile {
  padding: 15px;
  @include display-flex();
}
 
.lbl2-3 {
  color: $color-blue;
  font-size: $size-1 + .7;
  text-transform: uppercase;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.lbl2-3b {
  color: $color-black;
}

.col-8 {
  margin-top: 30px;
}

.lst2-1 {
  @include display-flex(fgrid);
  .item2-1 {
    width: 100%;
    font-size: $size-1-2;
    padding-bottom: 10px;
    @extend .lst2-1;
  }
  .lbl2-6 {
    display: inline-block;
    word-break: break-all;
    font-family: $font-family;
    width: 100%;
    &:first-child {
      font-weight: 300;
      margin-bottom: 10px;
    }
  }
}

.lst-social {
  @include display-flex();
  .item-social {
    display: inline-block;
    font-size: $size-1;
    margin: 0 8px 12px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.lbl2-1 {
  padding-left: 8px;
}

.lbl2-2 {
  font-size: $size-1-1;
  text-align: center;
  svg {
    color: $color-blue;
  }
  .lbl2-2b {
    color: $color-brown;
  }
}

.lbl2-4 {
  padding-bottom: 20px;
  font-size: $size-1-2;
}

.lbl2-5 {
  padding-bottom: 27px;
  line-height: 28px;
  color: $color-black;
  font-family: $font-letter;
}

.lbl2-7 {
  font-weight: $weight-300;
  margin: 10px 0;
} // Class img and link
.img2-1 {
  display: block;
  width: 100%;
  box-shadow: $box-shadow-1;
  margin-bottom: 20px;
}

.link2-1 {
  display: block;
  margin-bottom: 25px;
  padding: 15px 5px;
  box-shadow: $box-shadow-1;
  transition: all .3s;
  color: $color-brown;
  text-align: center;
  text-transform: uppercase;
  font-size: $size-1-2;
  &:hover {
    box-shadow: $box-shadow-hover;
  }
}

.link2-2 {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  transition: all .2s;
  color: $color-brown;
  border: 1px solid $color-brown;
  &:hover {
    color: $color-white;
    border-color: $color-blue;
    background-color: $color-blue;
    box-shadow: 0 0 3px $color-blue;
  }
}

.lbl2-8 {
  color: #0487cc;
  text-align: center;
  font-size: $size-1 + 1.5;
  text-transform: uppercase;
  margin-bottom: 80px;
  letter-spacing: $title-space;
}

/* =============================================
	2. EXPERIENCE SECTION
 ============================================= */

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  .line-header {
    color: $color-brown;
    margin-left: 0;
    display: inline-block;
    @include layout-card($color-white, $main-px - 2, $box-shadow-item);
  }
  .tree {
    border-left: 5px solid $color-white;
    margin-left: 0;
    padding-top: $main-px * 3;
    padding-left: $main-px + 10;
    .branch {
      background-color: $color-white;
      margin-bottom: $main-px * 3;
      padding: $main-px * 2;
      @include box-shadow($box-shadow-item);
      &:before {
        content: "";
        background-color: $color-blue;
        position: absolute;
        left: -5px;
        margin-top: 12px;
        width: 14px;
        height: 14px;
        @include box-shadow(rgba(0, 0, 0, 0.3) 0px 0px 5px);
        border-radius: 50%;
      }
    }
    .branch-time {
      @include bg-blue();
      display: inline-block;
      position: static;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 12px;
      width: 100%;
      font-size: $size-1-1;
      text-align: center;
      @include box-shadow($box-shadow-item);
    }
    .branch-job {
      color: $color-blue;
      margin-bottom: 15px;
      font-size: $size-1 + .4;
    }
    .branch-company {
      color: $color-brown;
      margin-bottom: 10px;
      font-size: $size-1-2;
      text-transform: uppercase;
    }
    .branch-des {
      @extend .lbl2-5;
      padding-bottom: 0;
    }
  }
}

/* =============================================
	3. SKILL SECTION
 ============================================= */

.professtional {
  @include layout-card($color-white, 0 15px 15px, $box-shadow-section);
  .title2-1 {
    @include bg-blue();
    display: inline-block;
    position: relative;
    letter-spacing: $title-space;
    top: -32px;
    padding: 18px 27px;
    @include horizontal-center();
    @include box-shadow( 0 0 6px rgba(0, 0, 0, .3));
  }
  .title-skill {
    @include display-flex(fgrid);
    .lbl2-9 {
      color: $color-brown;
      font-size: $size-1-1;
      text-transform: uppercase;
    }
  }
  .process {
    height: 14px;
    margin: 5px 0 12px;
    border-radius: 0px;
    overflow: hidden;
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.2));
    background-color: $color-brown;
    .process-bar {
      display: block;
      background-color: $color-blue;
      height: 14px;
      width: 0;
      float: left;
      font-size: $size-1;
      line-height: 20px;
      color: $color-white;
      @include transition-custom(width .6s ease);
      text-align: center;
      @include box-shadow(0 0 5px rgba(0, 0, 0, .2));
    }
  }
}

.additional {
  @extend .professtional;
  margin-top: 60px;
  .title2-1 {
    @extend .title2-1;
  }
  .chart {
    @extend .title-skill;
    .circle {
      padding-bottom: 20px;
      text-align: center;
      position: relative;
      width: 100%;
      .lbl2-10 {
        font-weight: 100;
        margin-top: 10px;
        font-size: $size-1-1;
        letter-spacing: 1px;
      }
    }
    .percentage {
      position: absolute;
      width: 100%;
      font-size: $size-1-1;
      color: $color-brown;
      top: 50px;
      left: 2px;
      font-weight: 500;
    }
  }
  .lst-skill {
    @include display-flex(fgrid);
    font-family: $font-letter;
    padding: 13px 10px 0;
    .skill-item {
      font-size: $size-1;
      margin-bottom: 15px;
      width: 100%;
      text-align: center;
      svg {
        color: $color-blue;
        margin-right: 5px;
      }
    }
  }
}

.professtional.col-5,
.additional.col-7 {
  width: $width-12;
}

/* =============================================
	4. EDUCATION SECTION
 ============================================= */


/* =============================================
	7. RESPONSIVE SECTION
 ============================================= */

@media screen and (min-width: 480px) {
  #profile .lbl2-3 {
    font-size: $size-1 + 1.5;
  }
  .additional {
    .chart .circle {
      width: unset;
    }
    .lst-skill .skill-item {
      text-align: left;
      width: 50%;
    }
  }
}

@media screen and (min-width: 768px) {
  .content {
    width: 90%;
    padding: 80px 0;
  }
  #profile {
    padding: 33px;
  }
  .col-8 {
    margin-top: 0;
    padding-left: 30px;
  }
  .lst2-1 {
    .item2-1 {
      width: 50%;
    }
  }
  .col-4 {
    flex-basis: $width-4;
  }
  .col-5 {
    flex-basis: $width-5;
  }
  .col-7 {
    flex-basis: $width-7;
  }
  .col-8 {
    flex-basis: $width-8;
  }
  .timeline {
    width: 80%;
    margin: 0 auto;
    .line-header {
      margin-left: $main-px * 10 + 10;
    }
    .tree {
      margin-left: $main-px * 12;
      .branch:before {
        left: 175px;
        margin-top: -18px;
      }
      .branch-time {
        position: absolute;
        left: -20px;
        margin-top: -30px;
        width: 175px;
      }
    }
  }
  .professtional.col-5 {
    flex-basis: $width-5 - 1;
  }
  .additional.col-7 {
    flex-basis: $width-7 - 1;
  }
  .additional {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .lst2-1 {
    .lbl2-6 {
      &:first-child {
        width: 70px;
        margin-bottom: 0px;
      }
      &:last-child {
        width: calc(100% - 70px);
      }
    }
    .item2-1 {
      height: 35px;
    }
  }
  .professtional,
  .additional {
    padding: 0 30px 30px;
  }
  .additional {
    .lst-skill .skill-item {
      font-size: $size-1-1;
    }
  }
}

@media screen and (min-width: 1280px) {
  .content {
    width: 1000px;
  }
}
