// SASS class 
.body {background-color: #efefef;}
[class*="col-"] { width: 100%;}
[class*="lbl2-"] {color: $color-brown;}
.content {padding: 30px 0;color: $color-black;font-family: $font-family;font-size: $size-1-2;width: 90%;margin: 0 auto;}
